# Google OAuth Configuration
NEXT_PUBLIC_GOOGLE_CLIENT_ID=989071869415-i4832plmm56o9f76eqloqkcolq8aedap.apps.googleusercontent.com

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1

# Environment
NODE_ENV=development